:root {
    --Very-Dark-Gray: hsl(0, 0%, 17%);
    --Dark-Gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
}

body {
    min-height: 100vh;
    width: 100vw;
}

.top {
    height: 250px;
    background: url(images/pattern-bg.png) var(--Very-Dark-Gray) no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#map {
    height: calc(100vh - 250px);
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}

.input {
    width: 500px;
    display: flex;
    align-self: center;
    position: relative;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0 1rem;
}

.message {
    color: red;
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: .75rem;
    font-weight: 400;
    font-style: italic;
}

button {
    border: none;
    border-radius: 0 10px 10px 0;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    z-index: 10;
    background: var(--Very-Dark-Gray);
    outline: none;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    background: var(--Dark-Gray);
}

.data {
    max-width: 95%;
    background: white;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    z-index: 1000000;
    box-shadow: 0px 0px 5px 0px var(--Dark-Gray);
}

.data-element {
    text-align: left;
}

.data-element:not(:first-of-type) {
    padding: 0 1rem;
    border-left: .1px solid gainsboro;
    margin-left: 1rem;
}

h3 {
    color: var(--Dark-Gray);
    font-weight: 400;
    font-size: .75rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

span {
    font-weight: 500;
    word-break: normal;
}

@media (max-width: 600px) {
    .data {
        height: 350px;
        width: 80vw;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        padding: 1rem;
    }

    .data-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .data-element:not(:first-of-type) {
        margin-top: .5rem;
        border-left: none;
        margin-left: 0;
    }

    .top {
        height: 350px;
    }

    #map {
        height: calc(100vh - 350px);
    }

    .input {
        width: 80vw;
    }